.search {
    margin-top: 50px;
    width: 1300px;
    margin-left: 50px;
    margin-bottom: 40px;
}

input,
#s,
.search,
label {
    float: left;
}

input {
    width: 150px;
    margin-left: 10px;
    height: 30px;
}

#s {
    margin-left: 40px;
    width: 80px;
}

#id {
    margin-left: 130px;
}

label {
    margin-left: 60px;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

.main {
    background-color: rgb(245, 240, 240);
    width: 1530px;
    height: 660px;
}

.result {
    width: 1300px;
    margin-left: 120px;
}

.print {
    float: right;
    width: 80px;
    font-size: 20px;
    height: 40px;
    margin-right: 150px;
}