<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <div class="container-fluid px-1 py-5 mx-auto main">
        <div class="w3-container w3-center w3-animate-left" id="first">
            <img src="../../assets/images/Update-cuate.svg">
        </div>
        <div class="card w3-animate-right">
            <h5 class="text-center mb-4">Update a Customer</h5>
            <form #addForm="ngForm" (ngSubmit)="updateCustomer(addForm.value)">
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">First name<span class="text-danger"> *</span></label> <input type="text" id="fname" name="fname" placeholder="Enter your first name" [(ngModel)]="fname"> </div>
                    <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Last name<span class="text-danger"> *</span></label> <input type="text" id="lname" name="lname" placeholder="Enter your last name" [(ngModel)]="lname"> </div>
                </div>
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Date of Birth<span class="text-danger"> *</span></label> <input type="text" id="dob" name="dob" bsDatepicker placeholder="Date Of Birth" [(ngModel)]="customer.dateOfBirth" /> </div>
                    <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Password<span class="text-danger"> *</span></label> <input type="text" id="pass" name="pass" placeholder="Enter the password" [(ngModel)]="customer.password" required> </div>
                </div>
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Email<span class="text-danger"> *</span></label> <input type="text" id="email" name="email" placeholder="Email" [(ngModel)]="customer.email"> </div>
                    <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Address<span class="text-danger"> *</span></label> <input type="text" id="address" name="address" placeholder="Full Address" [(ngModel)]="customer.address"> </div>
                </div>
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Pan Card<span class="text-danger"> *</span></label> <input type="text" id="panNo" name="panNo" placeholder="Pan Number" [(ngModel)]="customer.panNumber"> </div>
                </div>
                <span class="text-success" [style.display]="success">Customer Updated Successfully .</span>
                <span class="text-danger" [style.display]="exist">Customer does not exist.</span>
                <br> Note: All Fields marked with <span class="text-danger">*</span> are required fields.
                <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary">Update</button> </div>

            </form>
        </div>
    </div>
</body>