<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="h">
            User Login
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" #id class="fadeIn second" name="login" placeholder="User Id">
            <input type="password" #pass class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In" (click)="onLogin(id.value,pass.value)">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <span class="text-danger" [style.display]="disp">User Id or Password is incorrect</span>
            <br>
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>