<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body id="main">
    <div class="cont">
        <div class="w3-container w3-center w3-animate-left" id="first">
            <img src="../../assets/images/home.svg">
        </div>
        <div class="w3-container w3-center w3-animate-right" id="second">
            <h1 class="h1-responsive font-weight-bold mt-sm-5">Welcome to the Great Bank </h1>
            <hr class="hr-light">
            <h6 class="mb-4">Your one stop solution to all the banking services</h6>
            <a type="button" class="btn login" (click)="onLogin('user')">Create Customer</a>
            <a type="button" class="btn about">About Us</a>
        </div>
    </div>

</body>