<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<body>
    <div class="container-fluid px-1 py-5 mx-auto main">
        <div class="w3-container w3-center w3-animate-left" id="first">
            <img src="../../assets/images/Cash Payment-amico.svg">
        </div>
        <div class="card w3-animate-right">
            <div class="container login-container">
                <div class="row">
                    <div class="col-md-6 login-form-1">
                        <h3>Deposit</h3>
                        <form #depositForm="ngForm" (ngSubmit)="depositAmount(depositForm.value)">
                            <div class="form-group">
                                <input type="text" class="form-control" name="accountNumber" placeholder=" Account Number" value="" ngModel/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="amount" placeholder="Amount" value="" ngModel />
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btnSubmit" value="Deposit" />
                            </div>
                            <span class="text-danger" [style.display]="error">Account Number is wrong.</span>
                            <div class="form-group">
                                <a href="#" class="ForgetPwd">Forget Password?</a>
                            </div>
                            <span class="text-success msg" [style.display]="disp">{{data.messgae}} and balance is {{data.balance | number:'1.1-2'}}</span>
                        </form>
                    </div>
                    <div class="col-md-6 login-form-2">
                        <h3>Withdraw</h3>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" name="accountNumber" placeholder=" Account Number" value="" #acc/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="amount" placeholder="Amount" value="" #amt/>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btnSubmit" value="Withdraw" (click)="withdrawAmount(acc.value,amt.value)" />
                            </div>
                            <span class="text-info" [style.display]="error1">Minimum balance should be maintained or Account Number is wrong.</span>
                            <div class="form-group">
                                <a href="#" class="ForgetPwd">Forget Password?</a>
                            </div>
                            <span class="text-success" id="draw" [style.display]="draw">{{data.messgae}} and balance is {{data.balance | number:'1.1-2'}}</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>